[tower]
${tower-dns} ansible_host=${tower-ip}  # ${tower-id}

[servers]
${machine1-dns} ansible_host=${machine1-ip} # ${machine1-id}
${machine2-dns} ansible_host=${machine2-ip} # ${machine2-id}
${machine3-dns} ansible_host=${machine3-ip} # ${machine3-id}